# Ignore private product files
assets/data/PrivateProducts.json

# Ignore environment files
*.env

# Ignore system files
.DS_Store

# Ignore dependencies (if any later)
node_modules/
assets/data/PrivateProducts.json
